@model UroMeter.Web.Models.Users.EditUserViewModel

@{
    Layout = "_Layout";
}

<div class="container bg-white py-5 px-sm-3 px-md-5 mt-4 rounded">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.TextBoxFor(e => e.Id, "", new { @class = "d-none" })
            <div class="mb-3">
                @Html.LabelFor(e => e.Name, new { @class = "form-label" })
                @Html.TextBoxFor(e => e.Name, "", new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(e => e.Name, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(u => u.BirthDay, new { @class = "form-label" })
                <input data-provide="datepicker" class="form-control" asp-for="BirthDay" />
                @Html.ValidationMessageFor(e => e.BirthDay, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(e => e.Phone, new { @class = "form-label" })
                @Html.TextBoxFor(e => e.Phone, "", new { @class = "form-control", @placeholder = "Phone" })
                @Html.ValidationMessageFor(e => e.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <button class="btn btn-secondary mr-2" asp-controller="User" asp-action="Index" type="submit">Back</button>
        <button class="btn btn-primary" asp-controller="User" asp-action="Edit" type="submit">Save</button>
    }
</div>